<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/eventDetail.css" rel="stylesheet" type="text/css" />

    <title>Event Detail</title>
</head>
<body>
    <div class="container">
        <div th:insert="header.html" class="header"></div>

        <!-- 배너 -->
        <div class="naviImage">
            <h1>COMMUNICATION</h1>
        </div>

        <!-- 이벤트 상세보기 -->
        <div id="eventDetail" class="text-center mt-5 mb-5">
            <img src="../images/studentEventDetail.jpg">
        </div>

        <div th:insert="footer.html" class="footer"></div>
    </div>
</body>
</html>