
        .about{
             text-align:center; padding:5%; line-height: 250px; font-weight: 900; color: #fff;
        }
        *,.btn:focus{ box-shadow: none !important;}
        /*.about-nav {
            display: block; text-align: center; text-decoration: none;
            padding: 1rem; margin-bottom: 10px; color: black; border-bottom: 1px solid #7eabf2;
        }
        .about-nav:hover {
            background: #7eabf2;
            color: white;

        }
        .about-nav.on {
            background: #7eabf2;
            color: white;
        }*/

        /* 배너 */
        .re_banner{ width:100%; height:350px; background-image: url("../images/about_banner.jpg"); background-size: cover; }

        /* 탭 버튼 */
        .btn-group{width:100%;}
        .re_btn{
            border-radius:0 !important;
            border-bottom:1px solid #395781;}
        .re_btn:hover{background-color:#395781; color:#fff !important;}
        .tab_box button.on{ color:white; background: #395781;}

        .about-property{display:none;}
        .on{display:block;}

        .pouch {
            width: 100%;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            margin-right: auto;
            margin-left: auto;
        }

        .heading {
            text-transform: uppercase;
        }

        .heading .heading-upper {
            display: block;
            font-size: 1rem;
            font-weight: 800;
        }

        .heading .heading-lower {
            display: block;
            font-size: 3rem;
            font-weight: 100;
        }

        .intro {
            position: relative;
            overflow: hidden;  margin-bottom: 50px;
        }

        @media (min-width: 992px) {
            .intro .intro-img {
                width: 75%;
                float: right;
            }

            .intro .intro-text {
                left: 0;
                width: 60%;
                margin-top: 3rem;
                position: absolute;
            }

            .intro .intro-text .intro-button {
                width: 100%;
                left: 0;
                position: absolute;
                bottom: -2rem;
            }
        }