* { margin: 0; padding: 0; }

/* 배너 */
.naviImage { width:100%; height:auto; background-color:#ccc; }
.naviImage h1 { text-align:center; padding:5%; margin-bottom: 0; }

/* 이벤트 상세보기 */
#eventDetail img { width: 80%; margin-bottom: 50px; }
