#username { width: 81%; display: inline-block; padding: 10px 12px; }
#formDiv div .label { padding-top: 10px; }
#duplicateBtnDiv { display: inline-block; width: 18%; }
#duplicateBtn { height: 56px; }
.text_align_left { text-align: left; }
#signupBtn { width: 25%; margin: 0 auto; height: 50px; }