* { margin: 0; padding: 0; }

/* 배너 */
.naviImage { width:100%; height:auto; background-color:#ccc; }
.naviImage h1 { text-align:center; padding:5%; margin-bottom: 0; }

/* 멤버쉽 이미지 */
#membershipContainer img { height: 500px; }

 @media (max-width: 992px) {
  #membershipContainer img {
      height: 300px;
      }
  }

