* { margin: 0; padding: 0; box-sizing:border-box; }

/* 배너 */
.re_banner { width:100%; height:350px; background-image: url("../images/communication.jpg"); background-size: cover; background-repeat : no-repeat; }
.re_banner h1 {  text-align:center; padding:5%; line-height: 250px; font-weight: 900; color: #fff; margin-bottom: 0; }

/* 탭버튼 */
.text-center div .tabBtn { width: 50%; }
.btn-group{width:100%;}
.re_btn{ border-radius:0 !important;}
.re_btn:hover{background-color:#395781; color:#fff !important;}
.tab_box button.on{ background-color:#395781; color:#fff;}

/* 탭 컨텐츠 hide show*/
.noticeContainer div.notice{display:none;}
.noticeContainer div.on{display:block;}

/* 공지사항 */
.notice .table thead #firstRow {color: gray; border-bottom: 2px solid gray; }
.notice .table thead tbody {border-bottom: ligth-gray; }
.clickRow { cursor:pointer; text-decoration: none; color: black; }
tbody tr #hideRow { display:none; }

/* 멤버쉽 */
#membershipContainer img { height: 500px; }

 @media (max-width: 992px) {
  #membershipContainer img {
      height: 300px;
      }
  }

