<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link href="/css/admin.css"  th:href="@{/css/admin.css}" type="text/css" rel="stylesheet">
    <script src="js/admin.js" th:src="@{/js/admin.js}" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi"></script>
</head>
<body>
    <div class="container">
        <div th:insert="header.html" class="header"></div>
    </div>
    <main class="container mainWrap">
        <!--    이미지 배너    -->
        <div class ="re_banner">
            <h1 class="re_title m-0">ADMIN</h1>
        </div>
        <!--   탭 버튼   -->
        <div class="text-center">
            <div class="btn-group tab_box" role="group" aria-label="Basic example">
                <input type="hidden" th:value="${tabFlag}" id="tabFlag">
                <button type="button" class="btn re_btn on m-0 py-2">매출관리</button>
                <button type="button" class="btn re_btn m-0 py-2">휴무등록</button>
                <button type="button" class="btn re_btn m-0 py-2">회원관리</button>
            </div>
        </div>
        <!-- 매출관리 -->
        <div class="mt-5"></div>
        <div class="todayReservation tab on">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i> 월 단위 총 매출 및 점유율 현황
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-end">
                            <div class="input-group d-inline-block">
                                <form th:action method="get">
                                    <select class="form-select" aria-label="Default select example" id="reservationYear" name="reservationYear">
                                        <option th:value="${nowYear}-2" th:text="${nowYear}-2"></option>
                                        <option th:value="${nowYear}-1" th:text="${nowYear}-1"></option>
                                        <option selected th:value="${nowYear}" th:text="${nowYear}"></option>
                                    </select>
                                    <select class="form-select mb-3" aria-label="Default select example" id="reservationMonth" name="reservationMonth">
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary w-100" type="submit">검색</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card mt-5">
                            	<div class="card-header">
                    			<i class="fas fa-table me-1"></i> 월 단위 총 매출 및 점유율 현황
                    			</div>
                           	 	<div class="card-body">
                           	    	<p><b>월 총 매출</b> : <span id="resultPrice"></span></p>
                            		<p>총 예약건 : <span id="resultReservation"></span></p>
                            		<p>총 결재완료건  : <span id="resultPaymentComplete"></span></p>
                            		<p>총 취소건 : <span id="resultCancle"></span></p>
                            	</div>
                			</div>
                        </div>
                        <div class="col-sm-9 text-end">
                       		 <div id="piechart" style="height: 500px;"></div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-header">상세 리스트</div>
                <div class="card-body">
                    <table class="table table-sm">
                        <caption>List of Reservations</caption>
                        <thead>
                        <tr class="text-center">
                            <th class="col-1">NO</th>
                            <th class="col-2">고객명</th>
                            <th class="col-2">디자이너</th>
                            <th class="col-2">날짜</th>
                            <th class="col-2">스타일</th>
                            <th class="col-2">가격</th>
                            <th class="col-3">결제여부</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="reservation : ${reservations}">
                            <td th:text="${reservationStat.index} + 1"></td>
                            <td th:text="${reservation.user.name}"></td>
                            <td th:text="${reservation.designer}"></td>
                            <td th:text="${reservation.day}"></td>
                            <td th:text="${reservation.style}"></td>
                            <td th:text="${reservation.price}"></td>
                            <td th:text="${reservation.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 휴무등록 -->
        <div class="holiday mt-5 tab">
            <form  th:action="@{/admin/holiday}" method="post" name="holidayInfo" id="holidayInfo">
                <input type="hidden" name="_method" value="" id="_method">
                <div th:if="${#strings.equals(tabFlag, 'save')}" class="alert alert-primary text-center" role="alert">
                    휴무가 등록되었습니다.
                </div>
                <div th:if="${#strings.equals(tabFlag, 'del')}" class="alert alert-primary text-center" role="alert">
                    휴무가 삭제되었습니다.
                </div>
                <section class="cal-time-wrap mt-3">
                    <!-- 달력 -->
                    <div id="calendar" class="calendar">
                        <div class="header">
                            <a class="nav-btn go-prev text-decoration-none">&lt;</a>
                            <div class="year-month"></div>
                            <a class="nav-btn go-next text-decoration-none">&gt;</a>
                        </div>
                        <div class="main">
                            <div class="days">
                                <div class="day">일</div>
                                <div class="day">월</div>
                                <div class="day">화</div>
                                <div class="day">수</div>
                                <div class="day">목</div>
                                <div class="day">금</div>
                                <div class="day">토</div>
                            </div>
                            <div class="dates"></div>
                        </div>
                    </div>
                    <input type="hidden" name="date" id="date" value="null">
                    <!-- 디자이너 선택 -->
                    <div class="designerSelect">
                        <h5 class="text-center bg-light designer-bg">디자이너</h5>
                        <div class="p-3">
                            <div class="form-check mb-3 ">
                                <input class="form-check-input designer" type="radio"  value="김한나" name="designer" id="designer1">
                                <label class="form-check-label" for="designer1">
                                    김한나 원장
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input designer" type="radio"  value="장철" name="designer" id="designer2">
                                <label class="form-check-label" for="designer2">
                                    장철 수석 디자이너
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input designer" type="radio"  value="송하나" name="designer" id="designer3">
                                <label class="form-check-label" for="designer3">
                                    송하나 디자이너
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input designer" type="radio"  value="안벨리사" name="designer" id="designer4">
                                <label class="form-check-label" for="designer4">
                                    안벨리사 디자이너
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 휴무 관리 버튼 -->
                <div class="text-center my-5">
                    <button type="button" class="btn btn_outline px-4 py-2" id="nextBtn">휴무등록</button>
                    <a class="btn btn_outline px-4 py-2" id="delBtn">휴무삭제</a>
                </div>
            </form>
        </div>

        <!-- 회원관리 -->
        <div class="user tab">
            <form th:action="@{/admin}" method="get" name="search-form" class="mb-3 mt-4 overflow-hidden">
                <input type="hidden" name="tabFlag" value="manage">
                <div class="d-flex float-end">
                    <input class="form-control me-2 col" type="search" name="searchKeyword" placeholder="아이디를 입력하세요." aria-label="Search">
                    <button class="btn btn_outline py-2 px-4" type="submit" >검 색</button>
                </div>
            </form>
            <table class="table text-center align-middle table-borderless">
                <thead>
                <tr>
                    <th scope="col" class="col-md-1">NO</th>
                    <th scope="col" class="col-md-2">아이디</th>
                    <th scope="col">이름</th>
                    <th scope="col">핸드폰</th>
                    <th scope="col">생일</th>
                    <th scope="col">멤버십 등급</th>
                    <th scope="col">가입날짜</th>
                    <th scope="col" class="col-md-2">권한</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th th:text="${indexCalculator - userStat.index}" scope="row">1</th>
                    <td th:text="${user.username}">JOO</td>
                    <td th:text="${user.name}">박진주</td>
                    <td th:text="${user.phoneNumber}">010-1234-7890</td>
                    <td th:text="${user.birth}">2022.04.12</td>
                    <td>
                        <form th:action="@{/admin/gradeAuthModify}" method="get">
                            <input type="hidden" name="selectedUser" value="">
                            <input type="hidden" name="page" th:value="${users.pageable.pageNumber}">
                            <select name="grade"class="form-select form-select-sm" id="selectBoxGrade" aria-label="Default select example" onchange="changeGrade(this)">
                                <th:block th:each="grade : ${grades}">
                                <option th:value="${grade}" th:text="${grade}" th:selected="${grade} == ${user.grade}"></option>
                                </th:block>
                            </select>
                        </form>
                    </td>
                    <td th:text=${#temporals.format(user.dateCreated,'yyyy-MM-dd')}>2022.04.12</td>
                    <td>
                        <form th:action="@{/admin/gradeAuthModify}" method="get">
                            <input type="hidden" name="selectedUser" value="">
                            <input type="hidden" name="page" th:value="${users.pageable.pageNumber}">
                            <select name="auth" class="form-select form-select-sm" id="selectBoxAuth" onchange="changeAuth(this)" aria-label="Default select example" >
                                <th:block th:each="auth : ${auths}">
                                <span th:each="a : ${user.auths}">
                                    <option th:value="${auth.name}" th:text="${auth.name}"  th:selected="${auth.name} == ${a.name}"></option>
                                </span>
                                </th:block>
                            </select>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if = "${users.totalElements} != 0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${1 == users.pageable.pageNumber+1} ? 'disabled'">
                            <a class="page-link" th:href="@{/admin(page=${users.pageable.pageNumber-1}, tabFlag='manage')}" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"  th:classappend="${i == users.pageable.pageNumber+1} ? 'disabled'" th:each="i:${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link" th:text="${i}" th:href="@{/admin(page=${i-1},searchKeyword = ${param.searchKeyword}, tabFlag='manage')}" href="#">1</a>
                        </li>
                        <li class="page-item"  th:classappend="${users.totalPages == users.pageable.pageNumber+1} ? 'disabled'">
                            <a class="page-link" th:href="@{/admin(page=${users.pageable.pageNumber+1}, tabFlag='manage')}" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div th:insert="footer.html" class="footer"></div>
    </main>
</body>
<script th:inline="javascript">
	const url = new URL(window.location.href);
	const urlParams = url.searchParams;

	if(urlParams.has('reservationMonth')) {
		$('#reservationMonth').val(urlParams.get('reservationMonth')).attr("selected", "selected");
	}else {
		let thisMonth = Number(new Date().getMonth()) + 1;
		
		thisMonth = String(thisMonth).length === 1 ? '0' + thisMonth : thisMonth;
		$('#reservationMonth').val(thisMonth).attr("selected", "selected");
	}
	
	google.charts.load('current', {packages: ['corechart', 'line']});
	google.setOnLoadCallback(drawChart);

	function drawChart(){
		const thisChartYear = $("#reservationYear").val();
		const thisChartMonth = $("#reservationMonth").val();
		
		const jsonData = $.ajax({
			url:"/admin/chart?&reservationYear="+thisChartYear+"&reservationMonth="+thisChartMonth,
			type: "get",
			dataType:"json",
			success: function(data) {
				// 총 매출
				let totalPrice = 0;
				
				// 점유율 차트 계산 위함
				let HANNA = 0;
				let CHUL = 0;
				let HANA = 0;
				let BELLISSA = 0;
				
				let rCount = 0; // 예약상태
				let pcCount = 0; // 결제완료
				let cCount = 0; // 취소된예약
				
				for(idx in data) {
					if(data[idx].status == 'PAYMENT_COMPLETED') {
						pcCount++;
						totalPrice += data[idx].price;
						
						if(data[idx].designer == '김한나')
							HANNA++;
						else if(data[idx].designer == '장철')
							CHUL++;
						else if(data[idx].designer == '송하나')
							HANA++;
						else
							BELLISSA++;
					}else if(data[idx].status == 'CANCEL') {
						cCount++;
					}else
						rCount++;
				}
				$('#resultPrice').text(totalPrice);
				$('#resultReservation').text(pcCount+cCount+rCount);
				$('#resultPaymentComplete').text(pcCount);
				$('#resultCancle').text(cCount);
				
				const chartData = google.visualization.arrayToDataTable([
			          ['DESIGNER', 'PAYMENT_COMPLETED'],
			          ['HANNA',     HANNA],
			          ['CHUL',      CHUL],
			          ['HANA',  HANA],
			          ['BELLISSA', BELLISSA]
			        ]);
				
				const options = {
				          title: '결제 완료 기준 월 점유율',
				          is3D: true,
				          width: '100%'
				        };

				const chart = new google.visualization.PieChart(document.getElementById('piechart'));

				chart.draw(chartData, options);
			},
			async:false
		});
				
	}
</script>
</html>