<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>디자이너 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link href="/css/designer.css"  th:href="@{/css/designer.css}" type="text/css" rel="stylesheet">
    <script src="js/designer.js" th:src="@{/js/designer.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div th:insert="header.html" class="header"></div>
</div>
<main class="container mainWrap">
    <!--    이미지 배너    -->
    <div class ="re_banner">
        <h1 class="re_title m-0">DESIGNER</h1>
    </div>
    <!--   탭 버튼   -->
    <div class="text-center">
        <div class="btn-group tab_box" role="group" aria-label="Basic example">
            <button type="button" class="btn re_btn on m-0 py-2">당일예약</button>
            <button type="button" class="btn re_btn m-0 py-2">전체예약</button>
            <button type="button" class="btn re_btn m-0 py-2">휴무확인</button>
        </div>
    </div>
    <!-- 당일예약학인 -->
    <div class="today-reservation tab on">
        <div class="card mt-5">
            <div class="card-header py-3 text-center">
                TODAY RESERVATION
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form method="get" th:action="@{/designer}">
                            <div class="input-group mb-3">
                                <select name="designerName" class="custom-select w-75 ms-3" aria-label="Example select with button addon">
                                    <option th:value="김한나" th:Selected="${username} == '김한나'">김한나</option>
                                    <option th:value="장철" th:Selected="${username} == '장철'">장철</option>
                                    <option th:value="송하나" th:Selected="${username} == '송하나'">송하나</option>
                                    <option th:value="안벨리사" th:Selected="${username} == '안벨리사'">안벨리사</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn_fill" type="submit">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <table class="table align-middle text-center">
                            <thead>
                            <tr>
                                <th scope="col">NO</th>
                                <th scope="col">시간</th>
                                <th scope="col">성명</th>
                                <th scope="col">전화번호</th>
                                <th scope="col">시술</th>
                                <th scope="col">가격</th>
                                <th scope="col">예약확인</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="today : ${todayReservations}">
                                <form th:action="@{/designer/reservationComplete}" method="post" id="hiddenForm">
                                    <input type="hidden" name="todayId" th:value="${today.id}" >
                                    <th th:text="${todayStat.index}+1" scope="row">1</th>
                                    <td th:text="${today.time}">10:00</td>
                                    <td th:text="${today.user.name}">김철수</td>
                                    <td th:text="${today.user.phoneNumber}">010-8538-5505</td>
                                    <td th:text="${today.style}">남성컷</td>
                                    <td th:text="${today.price}+'원'">10,000</td>
                                    <td><button class="btn btn_outline fs-6" onclick="payComplete(this)">예약확정</button></td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-header py-3 text-center">
                COMPLETE RESERVATION
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">시간</th>
                        <th scope="col">성명</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">시술</th>
                        <th scope="col">가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "complete : ${completeTodayReservation}">
                        <th th:text="${completeStat.index}+1" scope="row">1</th>
                        <td th:text="${complete.time}">2022-04-29 09:30</td>
                        <td th:text="${complete.user.name}">김철수</td>
                        <td th:text="${complete.user.phoneNumber}">010-8538-5505</td>
                        <td th:text="${complete.style}">남성컷</td>
                        <td th:text="${complete.price}+'원'">10000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 전체예약 확인 -->
    <div class="all-reservation mt-5 tab">
        <table class="table text-center align-middle table-borderless">
            <thead class="thead">
            <tr>
                <th scope="col">NO</th>
                <th scope="col">일자</th>
                <th scope="col">성명</th>
                <th scope="col">전화번호</th>
                <th scope="col">선택옵션</th>
                <th scope="col">가격</th>
                <th scope="col">예약상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <th th:text="${indexCalculator - reservationStat.index}" scope="row">1</th>
                <td  th:text="${reservation.day}+' '+${reservation.time}">2022-04-29 09:30</td>
                <td th:text="${reservation.user.name}">김철수</td>
                <td th:text="${reservation.user.phoneNumber}">010-8538-5505</td>
                <td th:text="${reservation.style}">남성컷</td>
                <td th:text="${reservation.price}+'원'">10000</td>
                <td th:text="${reservation.status}">reservation</td>
            </tr>
            </tbody>
        </table>
        <div th:if = "${reservations.totalElements} != 0">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${1 == reservations.pageable.pageNumber+1} ? 'disabled'">
                        <a class="page-link" th:href="@{/designer(page=${reservations.pageable.pageNumber-1})}" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"  th:classappend="${i == reservations.pageable.pageNumber+1} ? 'disabled'" th:each="i:${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" th:text="${i}" th:href="@{/designer(page=${i-1})}" href="#">1</a></li>

                    <li class="page-item"  th:classappend="${reservations.totalPages == reservations.pageable.pageNumber+1} ? 'disabled'">
                        <a class="page-link" th:href="@{/designer(page=${reservations.pageable.pageNumber+1})}" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- 휴무확인 -->
    <div class="holiday tab">
        <section class="cal-time-wrap">
            <!-- 달력 -->
            <div id="calendar" class="calendar">
                <div class="header">
                    <button class="nav-btn go-prev">&lt;</button>
                    <div class="year-month"></div>
                    <button class="nav-btn go-next">&gt;</button>
                </div>
                <div class="main">
                    <div class="days">
                        <div class="day">일</div>
                        <div class="day">월</div>
                        <div class="day">화</div>
                        <div class="day">수</div>
                        <div class="day">목</div>
                        <div class="day">금</div>
                        <div class="day">토</div>
                    </div>
                    <div class="dates"></div>
                </div>
            </div>
        </section>
    </div>
    <div th:insert="footer.html" class="footer"></div>
</main>
</body>
</html>