<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/header.css" rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <title>HEADER</title>
</head>
<body>

<div class="container">
    <div class="text-end mt-3" sec:authorize="hasRole('ADMIN')">
        <a href="/admin" class="text-decoration-none navi d-inline-block"> 관리자 페이지</a>
    </div>
    <div class="text-end" sec:authorize="hasAnyRole('DESIGNER', 'ADMIN')">
        <a href="/designer" class="text-decoration-none navi d-inline-block"> 디자이너 페이지</a>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a href="/account/login" class="text-decoration-none navi d-inline-block me-2" sec:authorize="!isAuthenticated()">LOGIN</a>
        <a href="/account/join" class="text-decoration-none navi d-inline-block" sec:authorize="!isAuthenticated()">JOIN</a>
        <form id="logout" th:action="@{/logout}" method="POST" class="d-flex">
            <div class="mx-3" sec:authorize="isAuthenticated()"><span sec:authentication="name" >user</span>님 환영합니다.</div>
            <a href="#" class="text-decoration-none navi d-inline-block" th:onclick="document.getElementById('logout').submit();" sec:authorize="isAuthenticated()">LOGOUT</a>
        </form>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand mb-3 col-md-3" href="/">
                <img th:src="@{/images/logo.png}" src="images/logo.png" id="imgLogo"/>
            </a>

            <button class="navbar-toggler align-self-end mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mt-3 align-self-end mb-2" id="navbar">
                <ul class="navbar-nav  me-auto d-grid gap-3 d-flex justify-content-between" id="navi_ul">
                    <li class="nav-item">
                        <a class="nav-link fs-5 navi" href="/about" th:href="@{/client/about}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 navi" href="/reservation" th:href="@{/client/reservation}">RESERVATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 navi" href="/notice" th:href="@{/client/notice}">NOTICE & MEMBERSHIP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 navi navi-last" href="/membership" th:href="@{/client/event}">EVENT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>