<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/About.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>
</head>
<body>
    <div class="container">
        <div th:insert="header.html" class="header"></div>
        <section>
            <div class="container px-4 px-lg-5">
                <!-- 구성 시작 -->
                <div class="mb-3">
                <div class="row gx-0 mb-4 align-items-center text-center">
                    <hr>
                    <div class="col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="images/hair.jpg" alt="..." /></div>
                    <div class="col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Re : Hair</h4>
                            <p class="text-black-50 mb-1 ps-2">
                                리헤어의 Re에는 <br>
                                라틴어에서 채용된 반복(repetition)의 개념에서 출발했습니다. <br>
                                고객님께 가장 최선의 만족을 드리는 것을 최우선으로 <br>
                                그 경험을 반복시켜 드리고 <br>
                                그 과정에서도 또 돌아보자는 의미가 담겨 있습니다.
                                
                    </div>
                </div>
                </div>
                    <hr>
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="images/hair-shop.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">최고의 실력자들로 구성되어 있으며 <br> 배우고 성장하는 체계적인 System</h4>
                                    <p class="mb-0 text-white-50">언제나 새로운 스타일을 추구하면서도, 맞춤 스타일링을 지향합니다.</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="images/hairdressing.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Re만의 Service를 제공합니다.</h4>
                                    <p class="mb-0 text-white-50">만족을 드리는 것이 최우선인 서비스 그 과정은 이렇습니다.</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                        <div class="col-lg-6"><img class="img-fluid" src="images/beauty-salon.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-center text-lg-left">
                                        <h4 class="text-white">깔끔하고 정돈 된 매장, 언제나 편한 분위기</h4>
                                        <p class="mb-0 text-white-50">퀄리티는 높이고!</p>
                                        <hr class="d-none d-lg-block mb-0 ms-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <div th:insert="footer.html" class="footer"></div>
    </div>
</body>
</html>